<!doctype html>
<html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>문철하기</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


        <script>
            function vote_A() {
                $.ajax({
                    type: "POST",
                    url: "/api/vote_A",
                    data: {usedpoint: $('#Bpoint').val() , title : $('#title').val()},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('투표 완료!')
                            window.location.reload()
                        } else {
                            alert(response['msg'])
                        }
                    }
                })
            }
        </script>
        <script>
            function vote_B() {
                $.ajax({
                    type: "POST",
                    url: "/api/vote_B",
                    data: {usedpoint: $('#Bpoint').val() , title : $('#title').val()},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('투표 완료!')
                            window.location.reload()
                        } else {
                            alert(response['msg'])
                        }
                    }
                })
            }
        </script>

    </head>
    <body>
        <div class="section has-text-centered">
            <h1 class="title">로그인 페이지</h1>
            <div class="container" style="width:60%">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="userid">ID</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="userid" aria-describedby="emailHelp"
                                       placeholder="My ID">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="userpw">PW</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="userpw" placeholder="My Password">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary" onclick="login()">로그인</button>
            </div>
                <div>
                <button class="button is-primary" onclick="openclose()">회원등록</button>
                </div>
        </div>
        <div id = "post-box" class="section has-text-centered">
            <h1 class="title">회원가입 페이지</h1>
            <div class = "container" style="width:60%">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="usernick">이름(성명)</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="usernick" placeholder="이름(성함)을 입력해주세요.">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="user_id">아이디</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="user_id" aria-describedby="emailHelp"
                                       placeholder="사용할 아이디를 입력해주세요.">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="user_pw">비밀번호</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="user_pw" placeholder="사용할 비밀번호를 입력해주세요.">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="user_pw_chk">비밀번호 확인</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="user_pw_chk" placeholder="비밀번호 확인을 위해 다시 비밀번호를 입력해주세요.">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary" onclick="register()">회원가입 및 자동 로그인</button>
            </div>
        </div>
    </body>
</html>